<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vishnu Rudrsamudram - CV</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.css">
  <style>   
    @media only print {
      .print{
        display: none;
      }
    } 
    * {
      font-family: Georgia,Times,Times New Roman,serif; 
      /*font-family: "Computer Modern Serif", serif;*/
    }
  </style>
</head>
<body>
{{content}}
</body>
</html>